Package: com.kunihir0.bhtiktok++
Name: BHTikTok++
Version: 1.5
Architecture: iphoneos-arm64
Description: An awesome tweak for TikTok!
Maintainer: kunihir0
Author: kunihir0
Section: Tweaks
Depends: mobilesubstrate
