Package: com.kunihir0.doux
Name: DouX
Version: 1.5.4
Architecture: iphoneos-arm64
Description: A collection of enhancements for TikTok.
Maintainer: kunihir0
Author: kunihir0
Section: Tweaks
Depends: mobilesubstrate
Conflicts: com.kunihir0.bhtiktok++,com.raulsaeed.bhtiktok++,com.bandarhl.bhtiktok